.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    cursor: pointer;

}
.icon {
    font-size: 4rem;
    color: rgb(253, 70, 24);
    transition: all .3s ease;
    margin: 2rem;
}
.icon:hover {
    color: blanchedalmond;
}
.title {
    font-size: 1.2rem;
}
.app-container {
    display: flex;
    flex-wrap: wrap;
}