
.navbar {
    list-style: none;
    display: flex;
}
.nav-item {
    margin: 1rem;
    font-weight: 600;
}
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}